a {
    text-decoration: none;
    color:black;
}

body {
    background-image:url("img/background.png");
    text-align:center;
}
#menu, #menu ul
{
        padding : 0;
        margin : auto;
        list-style : none;
        line-height : 28px;
        text-align : center;
}

#menu
{
        font-weight : bold;
        font-family : Arial;
        font-size : 12px;
        width:1200px;
	margin:auto;

}

#menu a /* Contenu des listes */
{
        display : block;
        padding : 5px;
        background : #000;
        color : #fff;
        background-color:#2B2B2B;
        text-decoration : none;
        width : 150px;
	font-size:18px;
}

#menu li
{
        float : left;
        border-right : 2px solid #fff;
        border-left : 2px solid #fff;
}

#menu a:hover{
    background-color: #757575;
}

#mainContainer {
    margin:auto;
    width:1000px;
    background-color: #A5A5A5;
    margin-top:30px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    text-align:center;
    -moz-box-shadow: 2px 2px 12px black;
    -webkit-box-shadow: 2px 2px 12px black;
}

/******************
***   Ville.php ***
*******************/
#form_ajout{
    margin:auto;
    width: 440px;
    height: 28px;
    background: White;
    border: 2px solid DimGrey;
    transition: height 1s;
    -moz-transition: height 1s;
    -webkit-transition: height 1s;
    -o-transition: height 1s;
    overflow: hidden;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


#form_modif {
    margin:auto;
    width: 440px;
    height: 0px;
    background: White;
    transition: height 1s;
    -moz-transition: height 1s;
    -webkit-transition: height 1s;
    -o-transition: height 1s;
    overflow: hidden;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
}

#form_modif select {
    width:210px;
}
#form_ajout select {
    width:210px;
}
#form_modif label {
    width:120px;
}
#form_ajout label {
    width:120px;
}


.identifiant {
    display:none;
}

#tableau {
    margin:auto;
    margin-bottom:20px;
    border-width:3px;
    border-style:solid;
    border-color:black;
    border-collapse: collapse;
}

#tableau td {
    padding:5px;
    border-width:1px;
    border-style:solid;
    border-color:black;
    
}

#tableau td input{
    width:100px;
}

#no {
    display:none;
}

.specialite {
    text-align: left;
}

.list_disc td{
    text-align: left;
}


#tab{
    margin:auto;
    width: 400px;
    height: 150px;
    background: White;
    transition: height 1s;
    -moz-transition: height 1s;
    -webkit-transition: height 1s;
    -o-transition: height 1s;
    overflow: hidden;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: right;
    padding-right:10px;

}
#tab select{
    width:250px;
}


